#Dependencias instaladas con npm
node_modules

#Archivos de log
npm-debug.log
yarn-error.log
pnpm-debug.log

#Archivos del editor
.vscode
.idea
.DS_Store
Thumbs.db

#Archivos de compilación
dist
build