/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"; */ */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

a, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
   
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    border: 1px solid black;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #090df0;
    transition: all 0.3s;
    text-align: center;
    border: 1px solid black;
    
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
    border: 0.5px solid black;
}



#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border: 0.2px solid green;
}

#sidebar ul li a:hover {
    color: #FFF;
    background: #00A650;
    
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
 
  
}
